/* You can add global styles to this file, and also import other style files */
#vehicle {
  margin-top: 80px;
  margin-left: 5%;
  margin-right: 15%;
  width: auto;
}
.detail {
  background-color: #dbdfe2ef;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
}
.status {
  color: white;
  padding: 5px;
}
.unauthorized,
.pool {
  background-color: orange;
}
.rejected,
.disposed {
  background-color: red;
}
.approved,
.dispatched {
  background-color: green;
}
.authorized,
.assigned {
  background-color: dodgerblue;
}
.standby{
  background-color: darkcyan;
}
.maintenance {
  background-color: brown;
  color: white;
}

select.customDropdown {
  outline : none;
  overflow : hidden;
  text-indent : 0.01px;
  text-overflow : '';
  
  background : url("/assets/img/sort-down.png") no-repeat right #fff;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
}
