<div id = "authorize" style= "margin-left:250px;">
<div class="row">
<div class="col-lg-4 col-6">

<div class="small-box" style="background-color: #F4F5E7;">
<div class="inner">
      <h3>{{inCityRequests.length}}</h3>
      <p>In city requests</p>
</div>
<div class="icon">
<i class="ion ion-bag"></i>
</div>
<a href="#" routerLink="/authorizeIncityRequest" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
</div>
</div>

<div class="col-lg-4 col-6">

<div class="small-box" style="background-color: #BACFE4;">
<div class="inner">
      <h3>{{offTimeRequests.length}}</h3>
      <p>Off-time requests</p>
</div>
<div class="icon">
<i class="ion ion-stats-bars"></i>
</div>
<a href="#" routerLink="/authorizeOfftimeRequest" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
</div>
</div>

<div class="col-lg-4 col-6">

<div class="small-box" style="background-color: #F4F5E7;">
<div class="inner">
       <h3>{{fieldRequests.length}}</h3>
       <p>Field requests</p>
</div>
<div class="icon">
<i class="ion ion-person-add"></i>
</div>
<a href="#" routerLink="/authorizeFieldRequest" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
</div>
</div>
</div>
<app-footer></app-footer>
</div>