<div id = "authorize">
  <!-- This is table on which incity request will be displayed -->
  <ng-container *ngIf = "inCityRequests.length>0">
  <div
    id="InCityTable"
    style="margin-left: 190px"
    class="col-lg-12 col-md-12 col-xl-12"
  >
    <hr/>
    <h2 style="text-align: center">Manage Incity Requests</h2>
    <hr />
    <table
      class="table table-hover table-bordered table-condenced table-sm table-shadow"
      id="InCityDataTable"
    >
      <thead>
        <tr>
          <th>Requested By</th>
          <th>Requested Date</th>
          <th>Name Of Passengers</th>
          <th>Destination</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let incity of inCityRequests">
          <td>{{ incity.requestBy }}</td>
          <td>{{ incity.requestedDate|date }}</td>
          <td>{{ incity.passenger }}</td>
          <td>{{ incity.destination }}</td>
          <td>
            <a
              style="display: inline-block"
              (click)="onOpenIncityModal(incity, 'view')"
              class="btn btn-outline-info"
              data-original-title="view"
            >
              Detail
            </a>
            <a
              class="btn btn-outline-primary"
              data-original-title="Authorize"
              (click)="onOpenIncityModal(incity, 'authorizeInCity')"
              >
                Authorize
            </a>
            <a
              (click)="onOpenIncityModal(incity, 'rejectInCity')"
              class="btn btn-outline-danger"
              data-placement="top"
              data-original-title="Reject"
              >
              Reject
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </ng-container>
  <ng-container *ngIf = "inCityRequests.length==0">
    <div style="margin-left: 300px;">
      <hr/>
      <h2 style="text-align: center">Manage Incity Requests</h2>
       <hr />
       <div class="callout callout-info">
        <p>No in-city requests available</p>
      </div>
    </div>
  </ng-container>
  <!-- End of incity request displayer -->
 
  <!-- End of field request diplayer -->
  <div class="container" id="main-container">
       <!-- Start of incity authorization -->
            <div
            class="modal fade in"
            id="authorizeInCityRequestModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="authorizeInCityRequestModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="authorizeInCityRequestModalLabel">Authorize Incity Fleet Request</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>
                    Are you sure you want to authorize request by {{ inCityAuthorize?.requestBy }}?
                  </p>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <button (click)="authorizeInCityRequest(inCityAuthorize!)" class="btn btn-primary" data-dismiss="modal">Authorize</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
         <!-- End Of incity Authorization -->
         <!-- Beginning of Incity request rejection Modal -->
            <div
            class="modal fade"
            id="rejectInCityRequestModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="rejectInCityRequestModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="rejectInCityRequestModalLabel">
                    Reject InCity Request
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form #rejectInCityForm="ngForm">
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="reasonForRejection">Reason For Rejection</label>
                        <textarea 
                        ngModel="{{ inCityReject?.reasonForRejection }}"
                        name="reasonForRejection"
                        class="form-control"
                        id="reasonForRejection"
                        required>
                        </textarea>
                        <input
                        type="hidden"
                        ngModel="{{ inCityReject?.id }}"
                        name="id"
                        class="form-control"
                        id="id"
                        required
                       />
                       <input
                        type="hidden"
                        ngModel="{{ inCityReject?.requestBy }}"
                        name="requestBy"
                        class="form-control"
                        id="reqBy"
                        required
                      />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        id="reject-request-form"
                        data-dismiss="modal"
                        class="btn btn-secondary"
                      >
                        Close
                      </button>
                      <button
                         [disabled]="rejectInCityForm.invalid"
                        (click)="onRejectInCityRequest(rejectInCityForm.value)"
                        data-dismiss="modal"
                        class="btn btn-danger"
                      >
                        Reject Request
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
       <!-- End of InCity request Rejection Modal -->
        <!-- This is to show details of the field request -->
          <div
          class="modal fade"
          id="detailsInCityRequestModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="detailsInCityRequestModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="detailsInCityRequestModalLabel">Incity Request Details</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class = "col-md-6">
                      <p>Requested By: <strong><span>{{ details?.requestBy }}</span></strong></p>
                      <p>Requested Date: <strong><span>{{ details?.requestedDate | date }}</span></strong></p>
                      <p>Requested Time: <strong><span>{{ details?.requestedTime | convertFrom24To12Format }}</span></strong></p>
                      <p>Requested Date From: <strong><span>{{ details?.dateFrom | date }}</span></strong></p>
                      <p>Requested Date To: <strong><span>{{ details?.dateTo | date }}</span></strong></p>
                      <p>Number Of Days: <strong><span>{{ details?.numberOfDays }}</span></strong></p>  
                      <p>Destination: <strong><span>{{ details?.destination }}</span></strong></p>
                  </div>
                  <div class="col-md-6">
                      <p>Name Of Passengers: <strong><span>{{ details?.passenger }}</span></strong></p>
                      <p>Passenger's Telephone: <strong><span>{{ details?.passTelephone }}</span></strong></p>
                      <p>Purpose: <strong><span>{{ details?.purpose }}</span></strong></p>
                      <p>Requested For: <strong><span>{{ details?.requestedFor }}</span></strong></p>
                      <p>Time From: <strong><span>{{ details?.requestTimeFrom | convertFrom24To12Format}}</span></strong></p>
                      <p>Time To: <strong><span>{{ details?.requestTimeTo | convertFrom24To12Format }}</span></strong></p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!-- End of incity request details -->
  </div>
  </div>