<div id="user">
  <div
    id="userTable"
    style="margin-left: 190px"
    class="col-lg-12 col-md-12 col-xl-12"
  >
  <h2 style="text-align: center">Manage User</h2>
  <hr />
    <table
     class="table table-hover table-bordered table-condenced table-sm table-shadow"
      id="datatableexample"
    >
      <thead>
        <tr>
          <th>User Name</th>
          <!-- <th>Phone Number</th> -->
          <th>Address</th>
          <th>Role</th>
          <th>Directorate/Branch</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of data">
          <td>{{ user.username }}</td>
          <!-- <td>{{ user.firstName }}</td>
          <td>{{ user.middleName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.phoneNumber }}</td> -->
          <td>{{ user.address }}</td>
          <!-- <td>{{ user.email }}</td> -->
          <td>{{user.roleId}}</td>
          <td>{{ user.directorate }}</td>
          <td>
            <ng-container *ngIf = "user.enabled == '1'">
                <div class = "status" style="background-color: green;">Active</div>
            </ng-container>
            <ng-container *ngIf = "user.enabled == '0'">
              <div class = "status" style="background-color: red;">Deactivated</div>
            </ng-container>
          </td>
          <td>
            <a
              style="display: inline-block"
              (click)="onOpenModal(user, 'view')"
              class="btn btn-outline-info"
              data-original-title="View"
            >
              Detail
            </a>
              <a
              style="display: inline-block"
              (click)="onOpenModal(user, 'edit')"
              class="btn btn-outline-primary"
              data-original-title="Edit"
            >
              Update
            </a>
            <ng-container *ngIf = "user.enabled == '1'">
              <a
              (click)="onOpenModal(user, 'deactivate')"
              class="btn btn-outline-danger"
              data-original-title="Dispose"
              >Deactivate</a>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container" id="main-container">
    <div
      class="modal fade"
      id="updateUserModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="updateUserModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateUserModalLabel">
              Update User Detail
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #editUserForm="ngForm">
              <input
                type="hidden"
                ngModel="{{ editUser?.id }}"
                name="id"
                class="form-control"
                id="id"
              />
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstName">First Name</label>
                  <input
                    type="text"
                    ngModel="{{ editUser?.firstName }}"
                    name="firstName"
                    class="form-control"
                    id="firstName"
                    placeholder="enter first name"
                    
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="middleName">Middle Name</label>
                  <input
                    type="text"
                    ngModel="{{ editUser?.middleName }}"
                    name="middleName"
                    class="form-control"
                    id="middleName"
                    placeholder="enter middle name"
                    
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="lastName">Last Name</label>
                  <input
                    type="text"
                    ngModel="{{ editUser?.lastName }}"
                    name="lastName"
                    class="form-control"
                    id="lastName"
                    placeholder="enter last name"
                    
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="city">City</label>
                  <input
                    type="text"
                    ngModel="{{ editUser?.city }}"
                    name="city"
                    class="form-control"
                    id="city"
                    placeholder="enter city"
                    
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="phoneNumber">Phone Number</label>
                  <input
                    type="text"
                    #phoneNumber="ngModel"
                    pattern="^\d{10}$"
                    
                    [class.is-invalid]="
                      phoneNumber.touched && phoneNumber.invalid
                    "
                    [class.is-valid]="phoneNumber.touched && phoneNumber.valid"
                    ngModel="{{ editUser?.phoneNumber }}"
                    name="phoneNumber"
                    class="form-control"
                    id="phoneNumber"
                    placeholder="enter phone no..."
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="address">Address</label>
                  <input
                    type="text"
                    ngModel="{{ editUser?.address }}"
                    name="address"
                    class="form-control"
                    id="address"
                    placeholder="enter address"
                    
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    ngModel="{{ editUser?.email }}"
                    name="email"
                    class="form-control"
                    id="email"
                    placeholder="enter email address"
                    
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="directorate">Directorate/Branch</label>
                  <ng-select
                    ngModel="{{ editUser?.directorate }}"
                    name="directorate"
                    id="directorate"
                    class="custom"  appearance="outline"
                  >
                    <ng-option value="" disabled selected>select directorate ..</ng-option>
                    <ng-option
                      *ngFor="let director of directorates"
                      value="{{ director!.directorate }}"
                    >
                      {{ director!.directorate }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>
              <div class = "form-row">
                <div class="form-group col-md-6">
                   <label for="username">Username</label>
                   <input type="text"
                    ngModel = {{editUser?.username}} 
                    name="username"
                     class="form-control" id="username" readonly required>
                </div>
                <div class="form-group col-md-6">
                  <label for = "role">Role</label>
                  <ng-select
                  ngModel="{{ editUser?.roleId }}"
                  name="roleId"
                  id="roleId"
                  required
                  class="custom"  appearance="outline"
                  >
                  <ng-option value="" disabled selected>select user role ..</ng-option>
                  <ng-option
                    *ngFor="let role of roles"
                    value="{{ role!.roleId }}"
                  >
                    {{ role!.roleId }}
                  </ng-option>
                </ng-select>
              </div>
              </div> 
              <div class = "form-row">
                <div class="form-group col-md-6">
                  
                   <label>Status</label>
                   <ng-select 
                     ngModel={{editUser?.enabled}}
                     class="custom"  appearance="outline"
                     name= "enabled"
                     >
                        <ng-option value="" disabled selected>select user status ..</ng-option>
                        <ng-option value = "1">Active</ng-option>
                        <ng-option value="0">Deactive</ng-option>
                   </ng-select>
                   <input style="display:none;" type = "text" ngModel="{{editUser?.createdBy}}" name= "createdBy"/>
                </div>
                      <div class="form-group col-md-6">
                            <label for="reset">Do you want to reset password</label>
                            <input
                             #dyes (change)="isReset($event)"
                             id = "reset" type="radio"  name="reset"> Yes
                            <input #dno (change)="noReset($event)" type="radio" name="reset"> No
                      </div>
                  <div id="passwordReset" class="form-group col-md-6" *ngIf="wantReset == true">
                    <label for="password">New Password</label>
                    <input type="password"  name="password" 
                    class="form-control" id="password" placeholder="enter password"
                    minlength="8"
                    ngModel="{{ editUser?.password }}"
                    #password = "ngModel"
                    maxlength="16"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-+_!@#$%^&*.,?]).+$"
                    [class.is-valid] = "password.touched && password.valid"
                    [class.is-invalid] = "password.touched && password.invalid || editUser?.isLoggedin == '1'"
                    required
                    >
                    <small class="text-danger" *ngIf="editUser?.isLoggedin == '1'">User is logged into the system don't reset</small>
                    <div *ngIf="password.errors && (password.invalid && password.touched)">
                      <small class="text-danger" *ngIf="password.errors.required && editUser?.isLoggedin != '1'">password is required</small>
                      <small class="text-danger" *ngIf="password.errors.pattern && editUser?.isLoggedin != '1'">1 special, 1 capital, 1 number and small letter required, length should be between 8 and 16</small>
                    </div>
                 </div>

             </div>
              <div class="modal-footer">
                <button
                  type="button"
                  id="edit-user-form"
                  data-dismiss="modal"
                  class="btn btn-secondary"
                >
                  Close
                </button>
                 <button
                      *ngIf="editUser?.isLoggedin == '1'"
                      (click)="clearUser(editUser?.username)"
                      data-dismiss="modal"
                      class="btn btn-primary"
                    >
                  Clear User
                </button>
                <button
                   [disabled]="editUserForm.invalid"
                  (click)="onUpdateUser(editUserForm.value)"
                  data-dismiss="modal"
                  class="btn btn-primary"
                 >
                   Update User
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Deactivate user Modal -->
    <div
      class="modal fade"
      id="deactivateUserModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteModelLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Deactivate User</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              Are you sure you want to deactivate {{ deactivateUser?.username }} user?
            </p>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                No
              </button>
              <!-- (click) = "onDeleteEmloyee(deleteEmployee!)" -->
              <button (click)="onDeactivateUser(deactivateUser!)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- This is to show details of the user -->
    <div
    class="modal fade"
    id="detailsUserModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="detailsUserModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailsUserModalLabel">User Details</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <div class="row">
             <div class = "col-md-6">
                 <p>Username: <strong><span>{{ details?.username }}</span></strong></p>
                 <ng-container  *ngIf="details?.isLoggedin =='0'" >
                    <p>Status:<strong><span style="color:red;">Offline</span>
                    </strong>
                    </p>
                 </ng-container>
                 <ng-container  *ngIf="details?.isLoggedin =='1'" >
                  <p>Status:<strong><span style="color:green;">Online</span>
                  </strong>
                  </p>
               </ng-container>
                 <p>First Name: <strong><span>{{ details?.firstName }}</span></strong></p>
                 <p>Middle Name: <strong><span>{{ details?.middleName }}</span></strong></p>
                 <p>Last Name: <strong><span>{{ details?.lastName }}</span></strong></p>
             </div>
             <div class="col-md-6">
                <p>Email: <strong><span>{{ details?.email }}</span></strong></p>
                <p>Address: <strong><span>{{ details?.address }}</span></strong></p>
                <p>Role: <strong><span>{{ details?.roleId }}</span></strong></p>
                <p>Directorate: <strong><span>{{ details?.directorate }}</span></strong></p>
             </div>
           </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- End of user details -->
  </div>
</div>
