<div id="officer" style="margin-left: 250px">
    <!-- This is officer home page -->
    <div class="row">
      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #F4F5E7;">
          <div class="inner">
            <h3>{{numOfServiceMillageDue}}</h3>
            <p>Number Of Vehicles Whose Service Millage Due</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" routerLink="/serviceMillageDue" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #BACFE4;">
          <div class="inner">
            <h3>{{numOfTyresMillageDue}}</h3>
            <p>Number of Vehicle Whose Tyres Service Millage Due</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" routerLink="/tyreMillageDue" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #F4F5E7;">
          <div class="inner">
            <h3>{{numOfInsuranceDue}}</h3>
            <p>Number of Vehicle Whose Insurance Date Due</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" routerLink="/insuranceDue" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #BACFE4;">
          <div class="inner">
            <h3>{{numOfOfftime}}</h3>
            <p>Number of Off-time Requests</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" routerLink="/offtimeCheck" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #F4F5E7;">
          <div class="inner">
            <h3>{{numFieldReq}}</h3>
            <p>Number of Field Requests</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" routerLink="/fieldCheck" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      
    </div>
    <!-- End of vehicle status home page -->
    <app-footer></app-footer>
  </div>
  
  
