<div id="mechanic" style="margin-left: 250px">
    <!-- This is officer home page -->
    <div class="row">
      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #F4F5E7;">
          <div class="inner">
            <h3>{{numOfUnverified}}</h3>
            <p>Number Of Unverified Custodian  Requests</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" routerLink="/mechanicCustodianRequests" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #BACFE4;">
          <div class="inner">
            <h3>{{numOfVerified}}</h3>
            <p>Number of Verified Custodian Maintenance Requests</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" routerLink="/mechanicRequests" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #F4F5E7;">
          <div class="inner">
            <h3>{{numOfAuthorized}}</h3>
            <p>Number of Authorized Mechanic Modification</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" routerLink="/mechanicRequests" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #BACFE4;">
          <div class="inner">
            <h3>{{numOfCompletionTechnical}}</h3>
            <p>Number of Maintenance Completion From Technical Service</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" routerLink="/mechanicSubmission" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #F4F5E7;">
          <div class="inner">
            <h3>{{numOfSubmittedMechanic}}</h3>
            <p>Number of Submitted Maintenance Request From Mechanic</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" routerLink="/mechanicSubmission" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      
    </div>
    <!-- End of vehicle status home page -->
    <app-footer></app-footer>
  </div>
  
  
