#view{
  /* margin-top: 80px;
  margin-right: 220px;
  margin-left: 30px; */
  
  margin-top: 80px;
  margin-left: 18%;
  width: auto;
}
/* #InCityTable{
  margin-left: 5px;
  padding-top: 20px;
  padding-left: 100px;
  padding-bottom: 100px;
  margin-bottom: 20px;
  background-color: #fff;
   } */


   .btn-spacing {
    display: inline-block;
    width: 105px;
    margin-right: 3px;
    margin-bottom: 3px;
  }