.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
#changeForm{
  margin-top:5px;
  margin-bottom: 200px;
  margin-left: 200px;
  margin-right: 30px;
}
button{
    background-color:#21205f;
    color: #fff;
}
button:hover{
    background-color: #f79239;
    color:#fff;
}
p{
  margin-top: 90px;
  margin-left: 300px;
}