<div id = "user">
     <section class="vh-100 container-fluid" id = "changeForm">
      <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-12 col-lg-12 col-xl-9">
            <div>
                <div>
                    <h2 style="text-align: center;">User Creation</h2>
                    <hr>
                </div>
                <form  #addForm = "ngForm" (ngSubmit) = "onAddUser(addForm)">
                  <div class = "form-row">
                    <div class="form-group col-md-6">
                       <label for="firstName">First Name</label>
                       <input type="text" ngModel name="firstName" 
                       class="form-control" id="firstName" placeholder="enter first name" required>
                    </div>
                    <div class="form-group col-md-6">
                       <label for="middleName">Middle Name</label>
                       <input type="text" ngModel name="middleName" class="form-control" id="middleName" placeholder="enter middle name" required>
                    </div>
                  </div>
                <div class = "form-row">
                    <div class="form-group col-md-6">
                       <label for="lastName">Last Name</label>
                       <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="enter last name" required>
                    </div>
                    <div class="form-group col-md-6">
                       <label for="city">City</label>
                       <input type="text" ngModel name="city" class="form-control" id="city" placeholder="enter city" required>
                    </div>
                </div> 
              <div class = "form-row">
                 <div class="form-group col-md-6">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" #phoneNumber = "ngModel" pattern = "^\d{10}$" required [class.is-invalid]="phoneNumber.touched && phoneNumber.invalid"
                    [class.is-valid] = "phoneNumber.touched && phoneNumber.valid" ngModel name="phoneNumber" class="form-control" id="phoneNumber" placeholder="enter phone no..." />
                 </div>
                 <div class="form-group col-md-6">
                    <label for="address">Address</label>
                    <input type="text" ngModel name="address" class="form-control" id="address" placeholder="enter address" required>
                 </div>
               </div> 
               <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type = "email" ngModel name = "email" class="form-control" id = "email" placeholder="enter email address" required/>
                  </div>
                  <div class = "form-group col-md-6">
                     <label for = "directorate">Directorate/Branch</label>
                     <ng-select ngModel name = "directorate" id = "directorate" class="custom"  appearance="outline">
                        <ng-option value="" disabled selected>Please Select directorate/branch...</ng-option>
                        <ng-option *ngFor="let directorate of directorates" value="{{directorate!.directorate}}">
                            {{directorate!.directorate}}
                        </ng-option>
                     </ng-select>
                  </div>
               </div>
               <div class = "form-row">
                 <div class="form-group col-md-6">
                    <label for="username">Username</label>
                    <input (ngModelChange) ="removeUsernameError()" type="text" [(ngModel)]="userInput"  ngModel name="username" #username = "ngModel" class="form-control" id="username" placeholder="enter username" required>
                    <div id="usernameError" *ngIf="usernameError !=null && (username.dirty || username.touched)" class="p-2" style="color:rgb(153, 23, 23); margin-bottom: 2px;">
                       username already exist
                   </div>
                  </div>
                 <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input type="password" ngModel name="password" 
                    class="form-control" id="password" placeholder="enter password"
                    minlength="8"
                    #password = "ngModel"
                    maxlength="16"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-+_!@#$%^&*.,?]).+$"
                    [class.is-valid] = "password.touched && password.valid"
                    [class.is-invalid] = "password.touched && password.invalid"
                    required>
                 </div>
               </div> 
               <div class = "form-row">
                  <div class="form-group col-md-">
                     <label for = "role">Role</label>
                     <ng-select ngModel name = "roleId" id = "role" class="custom"  appearance="outline" required>
                        <ng-option value="" disabled selected>Please Select role...</ng-option>
                        <ng-option *ngFor="let role of roles" value="{{role!.roleId}}">
                            {{role!.roleId}}
                        </ng-option>
                     </ng-select>
                 </div>
                  <div class="form-group col-md-6">
                     <input style="display:none;" type = "text" ngModel name= "enabled" value="0"/>
                     <input style="display:none;" type = "text" ngModel name= "createdBy" value="{{userId}}"/>
                  </div>
                  <div class="form-group col-md-6">
                     <label for="middleName">Region</label>
                     <input type="text" ngModel name="region" class="form-control" id="region" placeholder="enter region name" required>
                  </div>
               </div>
                
                <div class="modal-footer">
                   <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Create User</button>                
                  </div>
                </form>
          </div>
          </div>
        </div>
    </div>
    </section>
     </div>
    
    
    