<section class="vh-100 container-fluid" id = "changeForm">
  <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
        <div>
            <div>
                <h2>Please Change Your Password</h2>
                <hr>
            </div>
          <form  
             #changeForm = "ngForm"
             name = "form"
             [appMatchPassword] = "['newPassword', 'confirmPassword']"
            (ngSubmit)="changeForm.form.valid && changePassword(changeForm)">
            <!-- Email input -->
            <div *ngIf="serverResponse">
                 <small class="text-danger">{{serverResponse}}</small>
            </div>
            <div style="display: none;">
                <input type="text" ngModel = {{username}} name = "username"/>
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="oldPassword">Old Password</label>
              <input type="password" [class.is-valid] = "oldPassword.touched && oldPassword.valid"
               [(ngModel)]="oldPass"
               [class.is-invalid] = "oldPassword.touched && oldPassword.invalid" id="oldPassword" ngModel name="oldPassword" #oldPassword = "ngModel" class="form-control form-control-lg" placeholder="Old Password..." required/>
              <small class = "text-danger" [class.d-none] = "oldPassword.untouched || oldPassword.valid">
                 Old password is required!
              </small>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="newPassword">New Password</label>
              <input type="password" [class.is-valid] = "newPassword.touched && newPassword.valid"
              [(ngModel)]="newPass"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[-+_!@#$%^&*.,?]).+$"
               minlength="8"
               maxlength="16"
               [class.is-invalid] = "(newPassword.touched && newPassword.invalid) || ( newPassword == oldPassword)" ngModel name="newPassword" #newPassword ="ngModel"
               id="newPassword" class="form-control form-control-lg" placeholder="New Password...." required/>
              <small class="text-danger" [class.d-none] = "newPassword.untouched || newPassword.valid">
                 New password should contain minimum of 8 char, 1 capital char, 1 special char and not the same with prev pwd!
              </small>
              <div class="text-danger" *ngIf = "isSame==true">
                new password should not be same with old
             </div>
            </div>  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="newPassword">Confirm New Password</label>
              <input type="password" [class.is-valid] = "confirmPassword.touched && confirmPassword.valid"
              [class.is-invalid] = "confirmPassword.touched && confirmPassword.invalid && confirmPassword.errors"    
               ngModel name="confirmPassword" 
               minLength = "8"
               maxLength = "16"
               #confirmPassword ="ngModel" [ngClass]="{'is-invalid':changeForm.submitted && confirmPassword.errors}"
              id="confirmPassword" class="form-control form-control-lg" placeholder="Confirm Password...." required/>
            <div
              *ngIf="changeForm.submitted && confirmPassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="confirmPassword.errors['required']">
                Confirm Password is required
              </div>
              <div *ngIf="confirmPassword.errors['matching']">
                Confirm Password does not match
              </div>
         
          </div> 
            </div>  
            <!-- Submit button -->
                <button [disabled]="changeForm.invalid" type="submit" class="btn btn-lg btn-block">Save Change</button>
          </form>
        </div>
      </div>
    </div>
</div>
</section>
 


