.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
#loginForm{
  margin-top:0px;
  margin-bottom: 200px;
  height: 300px;
  margin-left: 150px;
}
button{
    background-color:#21205f;
    color: #fff;
}
button:hover{
    background-color: #f79239;
    color:#fff;
}
p{
  margin-top: 90px;
  margin-left: 300px;
}