<div id="technical" style="margin-left: 250px">
    <!-- This is officer home page -->
    <div class="row">
      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #F4F5E7;">
          <div class="inner">
            <h3>{{numOfAuthorized}}</h3>
            <p>Number Of Authorized Vehicle Maintenance Requests</p>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
          <a href="#" routerLink="/maintRequest" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>

      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #BACFE4;">
          <div class="inner">
            <h3>{{numOfMaintenance}}</h3>
            <p>Number of Vehicles Under Maintenance</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" routerLink="/maintCompletion" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4 col-6">
        <div class="small-box" style="background-color: #F4F5E7;">
          <div class="inner">
            <h3>{{numOfGarage}}</h3>
            <p>Number of Garage</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" routerLink="/manageGarage" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
    </div>
    <!-- End of vehicle status home page -->
    <app-footer></app-footer>
  </div>
  
  
